Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
compile
*.o
*.lo
*.la
.deps
.libs
.dirstamp
m4
src/common/libcommon.a
src/anetz/anetz
src/bnetz/bnetz
src/cnetz/cnetz
src/nmt/nmt
src/amps/amps
sim/cnetz_sim
src/test/test_filter
src/test/test_compandor
src/test/test_emphasis
src/test/test_dms
src/test/test_sms
