Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
compile
*.o
*.lo
*.la
.deps
.libs
.dirstamp
src/liboptions/liboptions.a
src/libdebug/libdebug.a
src/libmobile/libmobile.a
src/libdisplay/libdisplay.a
src/libimage/libimage.a
src/libsendevolumenregler/libsendevolumenregler.a
src/libcompandor/libcompandor.a
src/libgoertzel/libgoertzel.a
src/libjitter/libjitter.a
src/libsquelch/libsquelch.a
src/libhagelbarger/libhagelbarger.a
src/libdtmf/libdtmf.a
src/libtimer/libtimer.a
src/libselect/libselect.a
src/libsamplerate/libsamplerate.a
src/libscrambler/libscrambler.a
src/libemphasis/libemphasis.a
src/libfsk/libfsk.a
src/libfm/libfm.a
src/libfilter/libfilter.a
src/libwave/libwave.a
src/libfft/libfft.a
src/libsound/libsound.a
src/libsdr/libsdr.a
src/libsample/libsample.a
src/libam/libam.a
src/libclipper/libclipper.a
src/libserial/libserial.a
src/libv27/libv27.a
src/libmtp/libmtp.a
src/libosmocc/libosmocc.a
src/libg711/libg711.a
src/libaaimage/libaaimage.a
src/anetz/libgermanton.a
src/anetz/anetz
src/bnetz/bnetz
src/bnetz/bnetz-dialer
src/cnetz/libcnetztones.a
src/cnetz/cnetz
src/nmt/libdmssms.a
src/nmt/nmt
src/amps/libusatone.a
src/amps/libamps.a
src/amps/amps
src/amps/tacs
src/amps/jtacs
src/r2000/radiocom2000
src/imts/imts
src/imts/imts-dialer
src/mpt1327/mpt1327
src/jolly/jollycom
src/eurosignal/eurosignal
src/pocsag/pocsag
src/golay/golay
src/fuenf/5-ton-folge
src/tv/osmotv
src/radio/osmoradio
src/datenklo/datenklo
src/zeitansage/zeitansage
src/sim/cnetz_sim
src/magnetic/cnetz_magnetic
src/fuvst/fuvst
src/fuvst/fuvst_sniffer
src/dcf77/dcf77
extra/cnetz_memory_card_generator
src/test/test_filter
src/test/test_sendevolumenregler
src/test/test_compandor
src/test/test_emphasis
src/test/test_goertzel
src/test/test_dtmf
src/test/test_dms
src/test/test_sms
src/test/test_performance
src/test/test_hagelbarger
src/test/test_v27scrambler
